<div id="books">
  <header>
    <h1>Overzicht Jaarboeken</h1>
    <p>De niet-redactionele bijdragen aan dit jaarboek zijn allemaal onderworpen aan een dubbel blinde peer review. Elke bijdrage wordt door minstens twee reviewers beoordeeld, waarvan minstens één uit de academische wereld komt. De reviewers sturen een beoordeling en hun opmerkingen door aan de reactie gebruikmakend van een evaluatieformulier. Op basis van deze beoordelingen stuurt de redactie aan de auteurs een verslag met de eventuele gevraagde herwerkingen. Na herwerkingen wordt het aangepaste manuscript terug naar de reviewers gestuurd om te evalueren of de auteurs aan hun opmerkingen tegemoet gekomen zijn. Op basis van de evaluaties van de reviewers beslist de redactie over het al dan niet opnemen van de bijdrage.</p>
  </header>
  <div id="booklist">
    <div class="cover">
      <h2><a href="jaarboek-2015.html">Jaarboek 2015</a></h2>
      <a href="jaarboek-2015.html"><%= image_tag "cover-jaarboek-2015-small.jpg" %></a>
      <p class="authors">
      Redactie: Isabelle Pannecoucke, Willy Lahaye, Jan Vranken &amp; Ronan Van Rossem
      </p>
    </div>
    <div class="cover">
      <h2>Jaarboek 2014</h2>
      <a href="jaarboek-2014.html"><%= image_tag "cover-jaarboek-2014-small.jpg" %></a>
      <p class="authors">
      Redactie: Isabelle Pannecoucke, Willy Lahaye, Jan Vranken &amp; Ronan Van Rossem
      </p>
    </div>
    <div class="cover">
      <h2><a href="jaarboek-2013.html">Jaarboek 2013</a></h2>
      <a href="jaarboek-2013.html"><%= image_tag "cover-jaarboek-2013-small.jpg" %></a>
      <p class="authors">
      Redactie:, Willy Lahaye, Isabelle Pannecoucke, Jan Vranken &amp; Ronan Van Rossem
      </p>
    </div>
    <div class="cover">
      <a href="jaarboek-2012.html"><h2>Jaarboek 2012</h2></a>
      <a href="jaarboek-2012.html"><%= image_tag "cover-jaarboek-2012-small.jpg" %></a>
      <p class="authors">
      Redactie: Jan Vranken, Willy Lahaye, Anneline Geerts en Catherine Coppée
      </p>
    </div>
    <div class="cover">
      <h2>Jaarboek 2010</h2>
      <a href="jaarboek-2010.html"><%= image_tag "cover-jaarboek-2010-small.jpg" %></a>
      <p class="authors">
      Redactie: Danielle Dierckx, Nicolas Van Herck &amp; Jan Vranken (eds.)
      </p>
    </div>
  </div>
</div>
