<div id="books">
  <header>
    <h1>Overzicht Jaarboeken</h1>
    <p class="more"><a href="peer-review.html">Peer Review</a></p>
  </header>
  <div id="booklist">
    <div class="cover">
      <h2><a href="jaarboek-2015.html">Jaarboek 2015</a></h2>
      <a href="jaarboek-2015.html"><%= image_tag "cover-jaarboek-2015-small.jpg" %></a>
      <p class="authors">
      Redactie: Isabelle Pannecoucke, Willy Lahaye, Jan Vranken &amp; Ronan Van Rossem
      </p>
    </div>
    <div class="cover">
      <h2>Jaarboek 2014</h2>
      <a href="jaarboek-2014.html"><%= image_tag "cover-jaarboek-2014-small.jpg" %></a>
      <p class="authors">
      Redactie: Isabelle Pannecoucke, Willy Lahaye, Jan Vranken &amp; Ronan Van Rossem
      </p>
    </div>
    <div class="cover">
      <h2><a href="jaarboek-2013.html">Jaarboek 2013</a></h2>
      <a href="jaarboek-2013.html"><%= image_tag "cover-jaarboek-2013-small.jpg" %></a>
      <p class="authors">
      Redactie:, Willy Lahaye, Isabelle Pannecoucke, Jan Vranken &amp; Ronan Van Rossem
      </p>
    </div>
    <div class="cover">
      <a href="jaarboek-2012.html"><h2>Jaarboek 2012</h2></a>
      <a href="jaarboek-2012.html"><%= image_tag "cover-jaarboek-2012-small.jpg" %></a>
      <p class="authors">
      Redactie: Jan Vranken, Willy Lahaye, Anneline Geerts en Catherine Coppée
      </p>
    </div>
    <div class="cover">
      <h2>Jaarboek 2010</h2>
      <a href="jaarboek-2010.html"><%= image_tag "cover-jaarboek-2010-small.jpg" %></a>
      <p class="authors">
      Redactie: Danielle Dierckx, Nicolas Van Herck &amp; Jan Vranken (eds.)
      </p>
    </div>
  </div>
</div>
