<div id="books">
  <header>
    <h1>Overzicht Jaarboeken</h1>
  </header>
  <div id="booklist">
    <div class="cover">
      <h2><a href="book.html">Jaarboek 4 (2015)</a></h2>
      <a href="book.html"><%= image_tag "cover-jaarboek-2015-small.jpg" %></a>
      <p class="authors">
      Redactie: Pannecoucke, Lahaye, Vranken &amp; Van Rossem
      </p>
    </div>
    <div class="cover">
      <h2>Jaarboek 4 (2014)</h2>
      <%= image_tag "cover-jaarboek-2014-small.jpg" %>
      <p class="authors">
      Redactie: Pannecoucke, Lahaye, Vranken &amp; Van Rossem
      </p>
    </div>
    <div class="cover">
      <h2><a href="jaarboek-2013.html">Jaarboek 4 (2013)</a></h2>
      <a href="jaarboek-2013.html"><%= image_tag "cover-jaarboek-2013-small.jpg" %></a>
      <p class="authors">
      Redactie:, Willy Lahaye, Isabelle Pannecoucke, Jan Vranken en Ronan Van Rossem
      </p>
    </div>
    <div class="cover">
      <h2>Jaarboek 4 (2012)</h2>
      <%= image_tag "cover-jaarboek-2012-small.jpg" %>
      <p class="authors">
      Redactie: Pannecoucke, Lahaye, Vranken &amp; Van Rossem
      </p>
    </div>
    <div class="cover">
      <h2>Jaarboek 4 (2010)</h2>
      <a href="jaarboek-2010.html"><%= image_tag "cover-jaarboek-2010-small.jpg" %></a>
      <p class="authors">
      Redactie: Danielle Dierckx, Nicolas Van Herck & Jan Vranken (eds.)
      </p>
    </div>
  </div>
</div>
