<div id="books">
  <header>
    <h1>R&eacute;sum&eacute;</h1>
  </header>
  <div id="booklist">
    <div class="cover">
      <h2><a href="jaarboek-2015.html">Annuaire 2015</a></h2>
      <a href="jaarboek-2015.html"><%= image_tag 'cover-jaarboek-fr-2015-small.jpg' %></a>
      <p class="authors">
      Rédaction: Willy Lahaye, Isabelle Pannecoucke, Jan Vranken et Ronan Van Rossem
      </p>
    </div>
    <div class="cover">
      <h2><a href="jaarboek-2014.html">Annuare 2014</a></h2>
      <a href="jaarboek-2014.html"><%= image_tag 'cover-jaarboek-fr-2014-small.jpg' %></a>
      <p class="authors">
      Rédaction: Willy Lahaye, Isabelle Pannecoucke, Jan Vranken et Ronan Van Rossem
      </p>
    </div>
    <div class="cover">
      <h2><a href="jaarboek-2013.html">Annuaire 2013</a></h2>
      <a href="jaarboek-2013.html"><%= image_tag 'cover-jaarboek-fr-2013-small.jpg' %></a>
      <p class="authors">
      Rédaction: Willy Lahaye, Isabelle Pannecoucke, Jan Vranken et Ronan Van Rossem</p>
      </p>
    </div>
    <div class="cover">
      <h2><a href="jaarboek-2012.html">Annuaire 2012</a></h2>
      <a href="jaarboek-2012.html"><%= image_tag 'cover.jpg' %></a>
      <p class="authors">
      Rédaction: Pannecoucke, Lahaye, Vranken &amp; Van Rossem
      </p>
    </div>
    <div class="cover">
      <h2><a href="jaarboek-2010.html">Annuaire 2010</a></h2>
      <a href="jaarboek-2010.html"><%= image_tag 'cover.jpg' %></a>
      <p class="authors">
      Rédaction: Isabelle Pannecoucke, Willy Lahaye, Jan Vranken en Ronan Van Rossem
      </p>
    </div>
  </div>
</div>
