---
title: Pauvreté en Belgique
---
<article id="home">
  <div id="hero">
    <div class="content">
      <h2>Pauvret&eacute; en Belgique</h2>
      <p>À l’occasion de la présentation de l’Annuaire « Pauvreté en Belgique », le POD MI organise le colloque « Droits sociaux fondamentaux : symbole ou levier de la lutte contre la pauvreté?</p>
      <p>Plusieurs personnalités belges et étrangères animeront le colloque, notamment le prof. Dr. Kenneth Nelson, le Prof. Dr. Bea Cantillon, professeure ordinaire et directrice du ‘Centrum voor Sociaal Beleid Herman Deleeck) de l’UAntwerpen, Nicole Mondelaers, chargée de mission à La Strada et le Prof. Dr François Maniquet, professeur ordinaire à la Faculté des Sciences économiques,  sociales, politiques et de communication de l’UCL.</p>
    </div>
    <div class="image">
      <%= image_tag "colloquium-2016.jpg" %>
    </div>
    <div>
      <div id="boxes">
        <div class="box">
          <h2><%= t(:jaarboek) %></h2>
          <div class="line">&nbsp;</div>
          <h3><a href="jaarboek-2017.html">Pauvreté en Belgique– Annuaire 2017</a></h3>
          <p><%= t(:redactie) %>: Willy Lahaye, Isabelle Pannecoucke, Jan Vranken et Ronan Van Rossem</p>
          <div class="cover">
          </div>
          <p class="more"><a href="books.html"><%= t(:edities) %></a></p>
        </div>
        <div class="box">
          <h2><%= t(:programma) %></h2>
          <div class="line">&nbsp;</div>
          <p>À l’occasion de la présentation de l’ouvrage « Pauvreté en Belgique. Annuaire 2017, le SPP Intégration sociale organise un colloque qui a pour thème « Droits sociaux fondamentaux : symbole ou levier de la lutte contre la pauvreté ?.</p>
    <p class="more"><a href="colloquium-2017.html">Plus d'info</a></p>
        </div>
        <div class="box">
          <h2>Blog</h2>
          <div class="line">&nbsp;</div>
          <h3><a href="#">Under Construction</a></h3>
        </div>
      </div>
</article>
