---
title: Pauvreté en Belgique
---
<article id="home">
  <div id="hero">
    <div class="content">
      <h2>Pauvret&eacute; en Belgique</h2>
      <p>Compte tenu des terribles événements du 22 Mars et par respect pour les victimes de ces attentats, nous avons décidé de reporter la conférence du 25 Mars 2016 portant sur la présentation de l'annuaire fédéral de la pauvreté 2016.</p>
      <p>Actuellement, nous ne pouvons garantir l'accessibilité des lieux tant pour les participants que pour les orateurs qui viennent de l'étranger.</p>
      <p>En accord avec les chercheurs de l'Université de Gand et de Mons ainsi que notre conférencière principale, Madame Maria Herczog, Présidente d’Eurochild, nous avons décidé de remettre cette conférence à la date du mardi 12 Avril 2016.</p>
    </div>
    <div class="image">
      <%= image_tag "colloquium-2016.jpg" %>
    </div>
    <div>
      <div id="boxes">
        <div class="box">
          <h2><%= t(:jaarboek) %></h2>
          <div class="line">&nbsp;</div>
          <h3><a href="jaarboek-2016.html">Pauvret&eacute; en Belgique - Annuaire 2016</a></h3>
          <p><%= t(:redactie) %>: Pannecoucke, Lahaye, Vranken &amp; Van Rossem</p>
          <div class="cover">
            <a href="jaarboek-2016.html"><%= image_tag "cover-jaarboek-fr-2016-small.jpg" %></a>
          </div>
          <p class="more"><a href="books.html"><%= t(:edities) %></a></p>
        </div>
        <div class="box">
          <h2><%= t(:programma) %></h2>
          <div class="line">&nbsp;</div>
          <p>A l’occasion de la pr&eacute;sentation de l’Annuaire Pauvret&eacute; en Belgique 2016, le SPP Int&eacute;gration Sociale organise, å 12 Avril 2016, le colloque ‘La crise trace les contours de la pauvret&eacute;'.</p>
    <p class="more"><a href="colloquium-2016.html">Plus d'info</a></p>
        </div>
        <div class="box">
          <h2>Blog</h2>
          <div class="line">&nbsp;</div>
          <h3><a href="#">Under Construction</a></h3>
        </div>
      </div>
</article>
