---
title: Pauvreté en Belgique
---
<article id="home">
  <div id="hero">
    <div class="content">
      <h2>Colloque 'La lutte contre la pauvreté en Belgique: Quels choix?'</h2>
      <p class="date">Le 25 Mars 2015 - Bruxelles</p>
      <p class="bodytext">A l’occasion de la présentation de l’Annuaire 2015, Pauvreté en Belgique, le SPP Intégration Soicale organise le colloque ‘Europe 2020 :  à mi-chemin et sur be bon chemin? Les politiques belges de la lute contre la pauvreté dans un context européen’</p>
      <form method="get" action="https://congres.ugent.be/AIB2016" class="action">
        <button><%= t(:inschrijven) %></button>
      </form>
    </div>
    <div class="image">
      <%= image_tag "colloquium-2016.jpg" %>
    </div>
    <div>
      <div id="boxes">
        <div class="box">
          <h2><%= t(:jaarboek) %></h2>
          <div class="line">&nbsp;</div>
          <h3><a href="jaarboek-2016.html">Pauvret&eacute; en Belgique - Annuaire 2016</a></h3>
          <p><%= t(:redactie) %>: Pannecoucke, Lahaye, Vranken &amp; Van Rossem</p>
          <div class="cover">
            <a href="jaarboek-2016.html"><%= image_tag "colloquium-2016-small.jpg" %></a>
          </div>
          <p class="more"><a href="books.html"><%= t(:edities) %></a></p>
        </div>
        <div class="box">
          <h2><%= t(:programma) %></h2>
          <div class="line">&nbsp;</div>
          <p>À l’occasion de la pr&eacute;sentation de l’Annuaire 2016, Pauvret&eacute; en Belgique, le SPP Int&eacute;gration Sociale organise le Colloque "La crise imprime les contours de la pauvret&eacute;".
        </p>
    <p class="more"><a href="colloquium-2016.html">Plus d'info</a></p>
        </div>
        <div class="box">
          <h2>Blog</h2>
          <div class="line">&nbsp;</div>
          <h3><a href="#">Under Construction</a></h3>
        </div>
      </div>
</article>
