---
title: Pauvreté en Belgique
---
<article id="home">
  <div id="hero">
    <div class="content">
      <h2>Pauvret&eacute; en Belgique</h2>
      <p class="date">Le 25 Mars 2016 - Bruxelles</p>
      <p class="bodytext">A l’occasion de la pr&eacute;sentation de l’Annuaire Pauvret&eacute; en Belgique 2016, le SPP Int&eacute;gration Sociale organise le colloque 'La crise trace les contours de la pauvret&eacute;'.</p>
      <form method="get" action="https://congres.ugent.be/AIB2016" class="action">
        <button><%= t(:inschrijven) %></button>
      </form>
    </div>
    <div class="image">
      <%= image_tag "colloquium-2016.jpg" %>
    </div>
    <div>
      <div id="boxes">
        <div class="box">
          <h2><%= t(:jaarboek) %></h2>
          <div class="line">&nbsp;</div>
          <h3><a href="fr/jaarboek-2016.html">Pauvret&eacute; en Belgique - Annuaire 2016</a></h3>
          <p><%= t(:redactie) %>: Pannecoucke, Lahaye, Vranken &amp; Van Rossem</p>
          <div class="cover">
            <a href="fr/jaarboek-2016.html"><%= image_tag "cover-jaarboek-fr-2016-small.jpg" %></a>
          </div>
          <p class="more"><a href="books.html"><%= t(:edities) %></a></p>
        </div>
        <div class="box">
          <h2><%= t(:programma) %></h2>
          <div class="line">&nbsp;</div>
          <p>A l’occasion de la pr&eacute;sentation de l’Annuaire Pauvret&eacute; en Belgique 2016, le SPP Int&eacute;gration Sociale organise le colloque ‘La crise trace les contours de la pauvret&eacute;'.</p>
    <p class="more"><a href="fr/colloquium-2016.html">Plus d'info</a></p>
        </div>
        <div class="box">
          <h2>Blog</h2>
          <div class="line">&nbsp;</div>
          <h3><a href="#">Under Construction</a></h3>
        </div>
      </div>
</article>
