---
title: Welcome to Middleman
---

<article id="home">
<div id="hero">
  <div class="content">
  <h2>Armoede in België</h2>
  <p class="date">26 Maart 2016 - Brussel</p>
  <p class="bodytext">Het jaarboek Armoede in België behandelt actuele thema's in verband met armoede en sociale uitsluiting en het armoedebeleid in België. Het jaarboek biedt een overzicht van recente ontwikkelingen in het beleid, en diept elk jaar één thema meer in diepte uit. </p>
  <div class="action">
  <button><a href="https://congres.ugent.be/AIB2016/"><%= t(:inschrijven) %></button>
  </div>
  </div>
  <div class="image">
    <%= image_tag "hands.jpg" %>
  </div>
<div>
<div id="boxes">
  <div class="box">
    <h2><%= t(:jaarboek) %></h2>
    <div class="line">&nbsp;</div>
    <h3><a href="jaarboek-2015.html">Armoede in Belgiê - Jaarboek 2016</a></h3>
    <p><%= t(:redactie) %>: Pannecoucke, Lahaye, Vranken &amp; Van Rossem</p>
    <div class="cover">
      <a href="jaarboek-2016.html"><%= image_tag "colloquium-2016-small.jpg" %></a>
    </div>
    <p class="more"><a href="books.html"><%= t(:edities) %></a></p>
  </div>
  <div class="box">
    <h2>Colloquium</h2>
    <div class="line">&nbsp;</div>
    <p>Ter gelegenheid van de voorstelling van het boek 'Armoede in België. Jaarboek 2016', organiseert de POD Maatschappelijke Integratie het colloquium ‘De crisis tekent het gezicht van de armoede' op 25 maart 2016.</p>
    <p class="more"><a href="colloquium-2016.html">Meer info</a></p>
  </div>
  <div class="box">
    <h2>Blog</h2>
    <div class="line">&nbsp;</div>
    <h3><a href="#">Under Construction</a></h3>
  </div>
</div>
</article>
