---
title: Welcome to Middleman
---
<div id="home">
<div id="hero">
  <div class="content">
  <h2>Colloquium 'Armoedebestrijding in België: Welke keuzes?'</h2>
  <p class="date">25 Maart 2014 - Brussel</p>
  <p class="bodytext">Ter gelegenheid van de voorstelling van het Jaarboek Armoede in België 2014, organiseert de POD Maatschappelijke Integratie het colloquium "Armoedebestrijding in België: Welke keuzes?".</p>
    <div class="action">
      <button><%= t(:inschrijven) %></button>
    </div>
  </div>
  <div class="image">
  <img src="images/hands.jpg" />
  </div>
<div>
<div id="boxes">
  <div class="box">
    <h2><%= t(:jaarboek) %></h2>
    <div class="line">&nbsp;</div>
    <p><%= t(:redactie) %>: Pannecoucke, Lahaye, Vranken &amp; Van Rossem</p>
    <div class="cover">
    <img src="images/cover2.jpg" alt="cover" />
    </div>
    <p class="more"><a href="books.html"><%= t(:edities) %></a></p>
  </div>
  <div class="box">
    <h2><%= t(:programma) %></h2>
    <div class="line">&nbsp;</div>
    <p>The Dutch Programme</p>
  </div>
  <div class="box">
    <h2>Blog</h2>
    <div class="line">&nbsp;</div>
    <h3><a href="#">Unicasts</a></h3>
    <p class="date">10 April 2015</p>
    <h3><a href="#">Mackenzie Child Comnmunity</a></h3>
    <p class="date">10 April 2015</p>
    <h3><a href="#">12 in 12 Challenge</a></h3>
    <p class="date">10 April 2015</p>
    <p class="more"><a href="blog.html"><%= t(:artikels) %></a></p>
  </div>
</div>
</div>
