---
title: Welcome to Middleman
---
<article id="home">
  <div id="hero">
    <div class="content">
      <h2>Colloque 'La lutte contre la pauvreté en Belgique: Quels choix?'</h2>
      <p class="date">Le 26 Mars 2015 - Bruxelles</p>
      <p class="bodytext">A l’occasion de la présentation de l’Annuaire 2015, Pauvreté en Belgique, le SPP Intégration Soicale organise le colloque ‘Europe 2020 :  à mi-chemin et sur be bon chemin? Les politiques belges de la lute contre la pauvreté dans un context européen’</p>
      <div class="action">
        <button><%= t(:inschrijven) %></button>
      </div>
    </div>
    <div class="image">
      <%= image_tag "hands.jpg" %>
    </div>
    <div>
      <div id="boxes">
        <div class="box">
          <h2><%= t(:jaarboek) %></h2>
          <div class="line">&nbsp;</div>
          <h3><a href="fr/jaarboek-2015.html">Pauvret&eacute; en Belgique - Annuaire 2015</a></h3>
          <p><%= t(:redactie) %>: Pannecoucke, Lahaye, Vranken &amp; Van Rossem</p>
          <div class="cover">
            <a href="fr/jaarboek-2015.html"><%= image_tag "cover-jaarboek-fr-2015-small.jpg" %></a>
          </div>
          <p class="more"><a href="fr/books.html"><%= t(:edities) %></a></p>
        </div>
        <div class="box">
          <h2><%= t(:programma) %></h2>
          <div class="line">&nbsp;</div>
          <p>A l’occasion de la présentation de l’Annuaire 2015, Pauvreté en Belgique, le SPP Intégration Soicale organise le colloque ‘Europe 2020 :  à mi-chemin et sur be bon chemin? Les politiques belges de la lute contre la pauvreté dans un context européen’</p>
    <p class="more"><a href="fr/colloquium-2015.html">Plus d'info</a></p>
        </div>
        <div class="box">
          <h2>Blog</h2>
          <div class="line">&nbsp;</div>
          <h3><a href="#">Under Construction</a></h3>
        </div>
      </div>
</article>
